@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:wght@200;300;400;500&family=Quicksand:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-gloria: 'Gloria Hallelujah', cursive;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-quicksand);
}

.no-scroll {
  overflow: hidden;
}